// ===========================================
// LeftSidebar Component Styles
// ===========================================
// Migrated from Vue.js client/src/scss/_LeftSide.scss

@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.sidebar {
  padding: $spacing-5;
  height: calc(100vh - $header-height);
  background-color: $bg-sidebar;
  width: $sidebar-width;
  overflow: auto;
  @include custom-scrollbar;
}

.mainListTitle {
  font-weight: $font-weight-light;
  text-align: center;
  cursor: pointer;
  padding-bottom: $spacing-2;

  &:hover {
    color: $color-primary;
  }
}

.items {
  padding-left: 40px;
  list-style: none;
}

.item {
  position: relative;
  background-color: $color-gray-300;
  border-radius: $border-radius-sm;
  margin-top: $spacing-1;
}

.active {
  background-color: $color-white !important;
}

.closeButton {
  display: block;
  margin: 0 auto;
  margin-top: $spacing-2;
  padding: $spacing-2;
  font-size: $font-size-base;
  border-radius: $border-radius-sm;
  cursor: pointer;
  background-color: $color-gray-200;
  color: #424242;
  border: 1px solid $color-gray-500;
  transition: background $transition-slow;

  &:hover {
    background-color: $color-gray-900;
    color: $color-gray-100;
  }
}

.descIcon {
  padding: 7px;
  cursor: pointer;
  color: $color-gray-700;
  transition: color $transition-slow;

  &:hover {
    color: $color-black;
  }
}

.branchTitle {
  padding: $spacing-1 0;
  cursor: pointer;
  display: inline-block;
  font-weight: $font-weight-light;
  transition: color $transition-slow;

  &:hover {
    color: $color-black;
  }
}
